<div class="container">
    <div class="jumbotron">
        <h1 class="display-6">Correntistas</h1>
        <p class="lead-1">Lista de Correntista</p>
        <hr class="my-2">
        <div>
            <p>
                <button id="cadastro" class="btn btn-outline-light btn-sm" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Novo Correntista</button>
                <!-- <a routerLink="/movimentacoes" class="btn btn-outline-danger btn-sm">Voltar</a> -->
            </p>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <div class="row g-2 pb-3">
                    <div class="col-md-3">
                      <input  class="form-control" id="iCpf" [(ngModel)]="cpf" placeholder="CPF" mask="000.000.000-00">
                    </div>
                    <div class="col-5">
                        <input type="text"  class="form-control" id="iNome" [(ngModel)]="nome" placeholder="Nome do Correntista">
                    </div>
                    <div class="col-3">
                        <div class="d-grid gap-2 d-md-flex ">
                            <button class="btn btn-primary me-md-2" type="button" (click)="save()" (click)="open(content)">Gravar</button>
                            <ng-template #content class="bg-color-2" let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                  <h4 class="modal-title text-light" id="modal-basic-title">Conta criada com sucesso!</h4>
                                  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="d('Cross click')"></button>
                                </div>
                                <div class="modal-body text-light">
                                  <p>Atualize a página para exibir o novo correntista!</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-light" (click)="c('Save click')" onClick="window.location.reload();">Atualizar</button>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="card text-white bg-color border-secondary col-1 m-2" *ngFor="let item of correntista; index as i" style="width: 12rem;" >
                    <div class="card-header">{{ item.conta.numero }}</div>
                    <div class="card-body">
                        <!-- <th scope="row">{{ i + 1 }}</th> -->
                        <h6 class="card-title">{{ item.nome }}</h6>
                        <p class="card-text">{{ item.cpf | cPF}}</p>
                    </div>
                    <div class="card-footer">
                        <h6 class="card-text">{{ item.conta.saldo | currency:"BRL" }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>